<form class="form-horizontal" (ngSubmit)="saveData(UserForm)" #UserForm="ngForm" novalidate>
    <div class="form-group">
        <legend>Templete Driven Form</legend>
    </div>
    <div class="form-group">
        <label class="control-label">User Name</label>
        <div>
            <input type="text" class="form-control" [(ngModel)]="User.UserName" name="UserName" #UserName="ngModel" 
            minlength="5" required />
            <span *ngIf="UserName.invalid && (UserName.dirty || UserForm.submitted)" class="text-danger">
                <span [hidden]="!UserName.errors.required" >
                    Name is required
                </span>
                <span [hidden]="!UserName.errors.minlength" >
                    Name must be greater than 4 character.
                </span>
            </span>
        </div>
    </div>
    <div class="form-group">
            <label class="control-label">Email</label>
            <div>
                <input type="email" class="form-control" [(ngModel)]="User.Email" name="Email" #Email="ngModel"  
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" required />
                <span *ngIf="Email.invalid && (Email.dirty || UserForm.submitted)" class="text-danger">
                        <span [hidden]="!Email.errors.required" >
                            Email is required
                        </span>
                        <span [hidden]="!Email.errors.pattern" >
                            Email is not in a valid formate.
                        </span>
                </span>
            </div>
    </div>
    <div class="form-group">
            <label class="control-label">Contact</label>
            <div>
                <input type="text" class="form-control" [(ngModel)]="User.Contact" name="Contact" #Contact="ngModel"  
                pattern="^\d{10}$" />
                <span [hidden]="!(Contact.invalid && (Contact.dirty || UserForm.submitted))" class="text-danger" >
                        Contact number is not valid.
                </span>       
            </div>
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <div>
                <input type="text" class="form-control" [(ngModel)]="User.Password" name="Password" #Password="ngModel" 
                minlength="6" maxlength="15"  required />
                <span *ngIf="Password.invalid && (Password.dirty || UserForm.submitted)" class="text-danger">
                    <span [hidden]="!Password.errors.required" >
                        Password is required
                    </span>
                    <span [hidden]="!Password.errors.minlength" >
                        Password must be greater than 5 character.
                    </span>
                    <span [hidden]="!Password.errors.maxlength" >
                            Password must be less than 16 character.
                    </span>
                </span>
            </div>
    </div>
    <div class="form-group">
            <label class="control-label">Accept Terms &nbsp;
                <input type="checkbox"  [(ngModel)]="User.AcceptTerms" name="AcceptTerms" #AcceptTerms="ngModel" required />
            </label>
            <div>
                
                <span [hidden]="!(AcceptTerms.invalid && (AcceptTerms.dirty || UserForm.submitted))" class="text-danger" >
                        Accept Terms and Conditions.
                </span>       
            </div>
    </div>
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

